@CHARSET "UTF-8"
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{
	font-family: ChosunM;
	src: url('../fonts/ChosunM.woff') format('woff'),
		 url('../fonts/ChosunM.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
	font-family: 'ChosunM', 'Nanum Gothic';
	color: #4E5259;
	background: #FAFAFA;
}

footer {
    color: #888;
    text-align: center;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 30px;
}
footer a {
	color: #888;
}

#menu {
	background: #2A2924;
}

#menu a {
	color: #BCBCB3;
}

#menu .pure-menu-heading {
	background: #345391;
}

/* 기사 하나하나 폰트 지정 */
.pure-g [class *="pure-u"] {
  font-family: 'Nanum Gothic', sans-serif;
}

a .itemLink { text-decoration: none;}
#category {
	color: #2A2924;
	font-weight:bold;
}

/* This gets Google to fall into place */
.social {
  font-size: 1px;
}

/* This gets Facebook to fall into place */
.social iframe {
  vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social span {
  display: inline-block;
  width: 110px;
}

/* Adjust the widths individually if you like */
.social .google {
  width: 75px;
}

[item] {
  display: inline-block;
  vertical-align: top;
  width: auto;
  position: relative;
  overflow: hidden;
  margin: 8px 0 16px 0;
  background: #FFF !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727 !important;
  border-radius: 2px;
}
[item] .date {
/*  border-bottom: 1px solid rgba(160, 160, 160, 0.2);*/
  padding: 0 0 0 10px;
  margin: 10px 0 0 0;
}
[item] .date p {
  font-size: 12px;
  margin: 0 0 0 0;
}
[item] .content {
  padding: 10px;
  font-weight: 300;
  border-radius: 0 0 2px 2px;
  margin: 0 0 0 0;
}
[item] .title {
  line-height: 48px;
  font-size: 15px;
  font-weight: 300;
}
[item] .action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 10px;
}
[item] a {
  color: #ffab40;
  margin-right: 20px;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
}